[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/allfiles;inode/directory;
Actions=_SEPARATOR_;keneric-remove-thumbnails;
TryExec=keneric-remove-thumbnails
X-KDE-Submenu=Keneric Actions

[Desktop Action keneric-remove-thumbnails]
Name=Delete thumbnails of items
Name[fr]=Supprimer les vignettes des éléments
Icon=delete
Exec=keneric-remove-thumbnails %U
