[Desktop Entry]
Type=Service
Name=Dossiers à une seule vignette (Keneric)

X-KDE-ServiceTypes=ThumbCreator
MimeType=inode/directory;

X-KDE-Library=keneric
CacheThumbnail=true
