[Desktop Entry]
Type=Service
Name=Keneric Video MKV Type

X-KDE-ServiceTypes=ThumbCreator
MimeType=*/x-matroska;*/x-matroska-3d;

X-KDE-Library=keneric
CacheThumbnail=true
