[Desktop Entry]
Type=Service
Name=MKV files (Keneric)
Name[fr]=Fichiers MKV (Keneric)

X-KDE-ServiceTypes=ThumbCreator
MimeType=video/x-matroska;application/x-matroska

X-KDE-Library=keneric
CacheThumbnail=true
