[Desktop Entry]
Type=Service
Name=MKV files and folders (Keneric)
Name[fr]=Fichiers MKV et dossiers (Keneric)

X-KDE-ServiceTypes=ThumbCreator
MimeType=video/x-matroska;application/x-matroska;inode/directory;

X-KDE-Library=keneric
CacheThumbnail=true
