[Desktop Entry]
Type=Service
Name=Fichiers MKV (Keneric)

X-KDE-ServiceTypes=ThumbCreator
MimeType=video/x-matroska;application/x-matroska

X-KDE-Library=keneric
CacheThumbnail=true
